body,
header,
footer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px 0;
}

footer {
  margin-top: 20px;
}

.menu {
  display: none;
}

.hamburger {
    width: 30px;
    height: 5px;
    background-color: #d3d3d3;
    margin: 5px 0;
}

nav {
  border-bottom: 1px solid #808080;
  margin: 0 auto 20px auto;
}

.intro > img {
  max-width: 100px;
}

.intro-info > h1 {
  text-transform: uppercase;
}

h1, p, li {
  font-family: 'Bubbler One', sans-serif;
  margin: 0;
  display: inline;
  letter-spacing: 0.4px;
}

h3 {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  font-size: 25px;
  text-align: center;
  word-spacing: 3em;
}

li:hover, h2:hover {
  color: #add8e6;
}

a {
  color: inherit;
  text-decoration: none;
}

#linkedin {
  color: #add8e6;
  text-decoration: underline;
}

.intro-info > p {
  padding-bottom: 10px;
}

h6 {
  display: block;
  width: 100%;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 25px;
  color: #d3d3d3;
  text-transform: capitalize;
}

article, section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

article > img, p {
  width: 30%;
}

article > img {
  width: auto;
  height: 300px;
  margin: 20px 0 0 auto;
}

article > p {
  text-align: justify;
  padding: 0 20px;
  margin: 20px auto 0 0;
}

article {
  margin: 10px auto 0 auto;
}

.work, .welcome {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.work-title, .welcome-title {
  color: #808080;
  font-size: 40px;
}

section:nth-child(3) {
  margin: 20px 0 10px 0;
  text-align: center;
}

.topic {
  display: inline;
  border: 1px solid #d3d3d3;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  width: 30%;
}

.topic > img {
  width: 100%;
}

.topic-title {
  color: #808080;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  /*box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;*/
}

@media screen and (max-width: 495px) {
  .menu {
    display: inline;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .menu:hover {
    cursor: pointer;
  }

  li {
    display: block;
    line-height: 50px;
  }

  nav {
    background-color: #fff;
    width: 300px;
    height: auto;
    position: absolute;
    border-style: hidden;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.01s ease;
  }

  nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  article {
    text-align: center;
  }

  article > img, p {
    width: 100%;
    margin: 0 auto;
  }

  .topic {
    width: 90%;
    margin: 2px auto 0 auto;
  }
}

@media screen and (max-width: 650px) {
  article {
    text-align: center;
  }

  article > img, p {
    width: 100%;
    margin: 0 auto;
  }

  .topic {
    width: 90%;
    margin: 10px auto 0 auto;
  }
}

@media screen and (min-width: 651px) and (max-width: 890px) {
  article {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  article > img {
    display: block;
    width: 100%;
  }

  article > p {
    display: block;
    width: 100%;
  }

  .topic {
    width: 90%;
    margin: 10px auto 0 auto;
  }
}
